/Backend/.venv
Backend/.env
frontend/.npmrc
/Backend/media
/Backend/apps/questions/__pycache__
/Backend/apps/core/__pycache__
/Backend/apps/exam/__pycache__
/Backend/apps/accounts/__pycache__

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
Backend/venv/
backend/venv/

# VS Code
.vscode/

# env
.env
.env.*